
:root {
    --primary-color: rgba(255, 231, 135, .50);
    --secondary-color: rgba(202, 204, 144, .9);
    --tertiary-color: rgba(248,248,255, .8);
}

.jumbotron {
    text-align: center;
    font-weight: bold;
    color: darkgreen;
    font-size: 200%;
    padding-top: 15px;
    background-color: var(--secondary-color);
}

header img {
    max-width: 6%;
    float: inline-start;
    margin-left: 20px;
    position: absolute;
}

body {
    text-align: center;
    background-image: url("../images/recess.jpeg");
}
/* date */
#currentDay {
    font-weight: 800;
    font-size: 20px;
    color: darkgreen;
    text-align: center;
    background-color: var(--secondary-color);
    padding-bottom: 15px;
}

/* nav bar start*/

nav {
    background-color: var(--primary-color);
  }

 nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

   nav ul li a {
    margin: 15px;
    color: darkgreen;
    font-weight:500;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0,  0.5);
  }

  nav ul li a:hover {
    background: var(--primary-color);
    color: forestgreen;
    border-radius: 15px;
    text-shadow: none;
  }

  /* end nav */

  /* ---- absent modal start ---- */
#modal-content {
    background: #efefef;
    margin: 35px auto;
    width: 60%;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.25);
}

#modal-header {
    background: #4586de;
    color: #ffff;
    padding: 25px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

#modal-header .close-modal {
    font-size: 50px;
    float: right;
}

#modal-header .close-modal:hover {
    color: #333;
    cursor: pointer;
}

#modal-body {
    padding: 25px 30px;
}
#abLink {
    float: right;
}

#modal-body h2 {
    color: #4586de;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
}
/* text above input */
.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-group textarea, input {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.form-group textarea:focus, input:focus {
    outline-style:auto;
}

.options {
    padding: 20px;
    width: 103%;
    margin-right: 10%;
    padding-left: 0;
}

#warning {
    padding: 10px;
}

/* submit button */
input[type="submit"] {
    font-size: 30px;
    margin-bottom: 20px;
    width: 75%;
    background-color: #4586de;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #ffff;
    }

input[type="submit"]:hover {
    background: #3e78c7;
}

/* ---- absent modal end ---- */

.sectionTitles {
    color: darkgreen;
    font-size: larger;
    font-weight: 800;
    text-decoration: underline;
}


/* lunch and events full container */
.lunchAndEvents {
    text-align: center;

}

/* lunch container */
.lunch {
    text-align: right;
    display: inline-block;
    background-color: var(--tertiary-color);
    padding: 20px;
    vertical-align: middle;
    margin: 10px;
}

/* lunch title */
.clickHere {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;

}

.lunchBtn {
   margin: 15px;
   margin-right: 130px;
   background-color: darkgreen;
   
}

.lunchBtn:hover {
    margin: 15px;
    margin-right: 130px;
    background-color: forestgreen;
 }

/* event and title container */
.eventContainer {
    margin-top: 15px;
    margin-left: 25px;
    display: inline-block;
    background-color: var(--tertiary-color);
    margin-bottom: 0px;
    margin-right: 40px;
    vertical-align: middle;
}

/* iframe header */
.upcoming {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
    text-decoration: underline;
}
/* <iframe> */
.dates {
    margin-bottom: 50px;
    
}
  
 .summer {
    font-weight: 900;
    margin: 10px;
    text-align: center;
    background-color: var(--secondary-color);
}


/* each announcement div */
.announce {
    background-color: var(--secondary-color);
    margin: 25px;
    font-size: larger;
    color: black;
}

span {
    font: bold;
    color: darkgreen;
}

.newsletter-images {
    position: relative;
    border-radius: 5px;
}

.uk-accordion-title {
    color: darkgreen;
}

.uk-accordion-title:hover {
    color: forestgreen;
}

.uk-heading-medium {
    color: darkgreen;
    background-color: var(--secondary-color);
    font-weight: bold;
    margin: 25px;
    padding: 10px;
}


