:root {
    background-color: rgb(202, 204, 144);
}

.jumbotron {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 200%;
    padding-top: 15px;
    text-decoration: underline;
}

body {
    text-align: center;
}

#currentDay {
    font-weight: 800;
    color: black;
}

/* .p {
    background-color: rgba(255, 231, 135, alpha);
} */

.weNeedYou {
    text-decoration: underline;
}