
:root {
    --primary-color: rgba(255, 231, 135, .50);
    --secondary-color: rgba(202, 204, 144, .9);
    --tertiary-color: rgba(248,248,255, .8);
}

.jumbotron {
    text-align: center;
    font-weight: bold;
    color: darkgreen;
    font-size: 200%;
    padding-top: 15px;
    background-color: var(--secondary-color);
}

header img {
    max-width: 5%;
    float: inline-start;
    margin-left: 20px;
    position: absolute;
  
}
/* entire page background img */
body {
    text-align: center;
    background-image: url("../images/recess.jpeg");
}
/* date */
#currentDay {
    font-weight: 800;
    font-size: 20px;
    color: darkgreen;
    text-align: center;
    background-color: var(--secondary-color);
    padding-bottom: 15px;
}

/* -----nav bar start ----------------------*/

nav {
    background-color: var(--primary-color);
  }

 nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

   nav ul li a {
    margin: 15px;
    color: darkgreen;
    font-weight:500;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0,  0.5);
  }

  nav ul li a:hover {
    background: var(--primary-color);
    color: forestgreen;
    border-radius: 15px;
    text-shadow: none;
  }

  /* -----------------end nav -------------- */

  /* ---- absent modal start --------- */

  /* whole modal */
#absentee {
    position: relative;
  
}
/* "Reason for absence text" */
#reason {
    margin-left: 100px;
}

#modal-content {
    background: #efefef;
    margin: 35px auto;
    width: 60%;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.25);
}

#modal-header {
    background: forestgreen;
    color: #ffff;
    padding: 25px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

/*  x in modal */
.close-modal {
    color: black;
}

#modal-header .close-modal {
    font-size: 50px;
    float: right;
}

#modal-header .close-modal:hover {
    color: #333;
    cursor: pointer;
}

#modal-body {
    padding: 25px 30px;
}

/* absence record link */
#abLink {
    float: right;
}

#modal-body h2 {
    color: darkgreen;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
}
/* text above input */
.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-group textarea, input {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.form-group textarea:focus, input:focus {
    outline-style:auto;
}

.options {
    padding: 20px;
    width: 103%;
    margin-right: 10%;
    padding-left: 0;
}
/* warning text at bottom of modal */
#warning {
    padding: 10px;
}

/* submit button */
input[type="submit"] {
    font-size: 30px;
    margin-bottom: 20px;
    width: 75%;
    background-color: darkgreen;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #ffff;
    }

input[type="submit"]:hover {
    background: forestgreen;
}
/* show/hide modal for form and record */
.hide {
    display: none;
    };

.show {
    display: block;
    };


/* ---- absent modal end -------------- */




/* lunch and events full container */
.lunchAndEvents {
    text-align: center;

}

/* lunch container */
.lunch {
    text-align: right;
    display: inline-block;
    background-color: var(--tertiary-color);
    padding: 20px;
    vertical-align: middle;
    margin: 10px;
    border-radius: 5px;
}

/* lunch title */
.clickHere {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
}

/* Todays Lunch */
#users {
    margin-right: 150px;
    font-weight: 700;  
}

.lunchBtn {
   margin: 15px;
   margin-right: 130px;
   background-color: darkgreen;
   border-radius: 5px;
   
}

.lunchBtn:hover {
    margin: 15px;
    margin-right: 130px;
    background-color: forestgreen;
    border-radius: 5px;
 }

/* event and title container */
.eventContainer {
    margin-top: 15px;
    margin-left: 25px;
    display: inline-block;
    background-color: var(--tertiary-color);
    margin-bottom: 0px;
    vertical-align: middle;
    border-radius: 5px;
    padding: 15px;
}

/* iframe header */
.upcoming {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
    text-decoration: underline;
}
/* <iframe> */
.dates {
    margin-bottom: 50px;
    
}
/* summer school */
 .summer {
    font-weight: 900;
    margin: 10px;
    text-align: center;
    background-color: var(--secondary-color);
}


/* each announcement div */
.announce {
    background-color: var(--secondary-color);
    margin: 25px;
    font-size: larger;
    color: black;
    border-radius: 5px;
}

span {
    font: bold;
    color: darkgreen;
    font-weight: bold;
}

.newsletter-images {
    position: relative;
    border-radius: 5px;
    max-width: 20%;
    float: right;
}

/*  learning with you */
.uk-accordion-title {
    color: darkgreen;
    font-size: 24px;
    font-weight: bold;
}
/* change accordian colors when hovering */
.uk-accordion-title:hover {
    color: forestgreen;
}

.uk-accordion-content p {
    padding: 10px;
}

.uk-heading-medium {
    color: darkgreen;
    background-color: var(--secondary-color);
    font-weight: bold;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
}

/*  move "go nuts for reading to be centered under title */
#gonuts {
    margin-left: 200px;
    color: darkgreen;
}

/* moved to bottom to ensure green underlined titles */
.sectionTitles {
    color: darkgreen;
    font-size: larger;
    font-weight: 800;
    text-decoration: underline;
}


/* imgs */
.right {
    float: right;
    padding: 0 30px 30px 0;
}

/* imgs */
.left {
    float: left;
    padding: 20px;
}

/* temperature container -- moved to bottom to ensure css is kept */
.temperature {
    text-align: center;
    display: inline-block;
    background-color: var(--tertiary-color);
    padding: 20px;
    vertical-align: middle;
    margin: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {

   /* hide img in header (separate from other images so it isnt affected (hanging over nav) when screen is bigger)*/
   #headImg {
        display: none;
    }

    /* hide other navs */
    #newnote,
    #vol,
    #re {
        display: none;
    } 

    /* hide all other images */
    .newsletter-images {
        display: none;
    }

     /* .lunch  */
    .clickHere  {
        text-align: center;
    }

    /*  center button on smaller screens */
    .lunchBtn {
        width: 85%;
    }

  
    /* only show absentee link */
    #abBtn {
        font-size: large;
        margin-left: 150px;
    }

}

 
